<div class="col-xs-10 col-xs-offset-1">
  <h1>Welcome to my mockup for TFP - Quiz 1 and 2</h1>
</div>
<div class="question col-xs-6 col-xs-offset-3">
  <center><h2>So did I pass?</h2></center>
  <br/>
  <center>
    <button class="btn btn-primary btn-lg btn-yes" data-toggle="modal" data-target="#yesModal">Yes</button>
    <button class="btn btn-primary btn-lg btn-no" data-toggle="modal" data-target="#noModal">No</button>
  </center>
</div>

<!--Yes modal -->
<div class="modal fade" id="yesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <center><h3 class="modal-title" id="myModalLabel">Weeeeeeeeeeeeeeeeee</h3></center>
      </div>
      <div class="modal-body">
        <center><%= image_tag 'win.gif' %></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--No modal -->
<div class="modal fade" id="noModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <center><h3 class="modal-title" id="myModalLabel">Haha funny....but really...</h3></center>
      </div>
      <div class="modal-body">
        <center><%= image_tag 'lose.gif' %></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
