<!DOCTYPE html>
<html>
<head>
  <title>QuizOne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <h2>Pfft who needs to navigate...I ain't got time for that<h2>
</nav>

<%= yield %>

</body>
</html>
